


div.top-view {

  background: white;
  border-bottom: 1px solid #DDD;
  padding: 0 30px;
  height: 115px;

  > div {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;

    > div.first {
      flex-direction: column;
      display: flex;

      > div.first {
        align-items: baseline;
        display: flex;

        h1 {
          font-weight: 200;
          text-transform: uppercase;
          font-size: 28px;
          display: flex;
          font-family: inherit;
          line-height: 1.1;
          color: inherit;
          margin: 0 0 10px;

          span {
            font-size: 0.5em;
            font-weight: 300;
            position: relative;

          }

        }
      }

      > div.second {
        display: none;
      }

      > div.third {

        button {
          position: relative;
          float: left;
          min-width: 100px;
          height: 35px;
          padding: 5px;
          border: 1px solid #e0e0e0;
          background: white;
          color: #4B4D4E;
          max-width: none;
          cursor: pointer;
          border-radius: 3px;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          letter-spacing: normal;
          transition: all .2s ease-in-out;

          display: inline-block;
          touch-action: manipulation;
          line-height: 1.428571429;
          user-select: none;
          text-transform: none;
          overflow: visible;
          font: inherit;
          font-weight: 300;
          font-size: 14px;
          margin: 0;

          &:hover {
            background: #f2f2f2;
            color: #4B4D4E;
          }

          i {
            margin-right: 0.3125em;
            vertical-align: middle;

          }

          span {
            font-weight: 300;

          }
        }

        div {
          position: relative;
          display: inline-block;
          vertical-align: middle;

          button {
            position: relative;
            float: left;
            min-width: 100px;
            height: 35px;
            padding: 5px;
            border: 1px solid #e0e0e0;
            background: white;
            color: #4B4D4E;
            max-width: none;
            cursor: pointer;
            border-radius: 3px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            letter-spacing: normal;
            transition: all .2s ease-in-out;

            display: inline-block;
            touch-action: manipulation;
            line-height: 1.428571429;
            user-select: none;
            text-transform: none;
            overflow: visible;
            font: inherit;
            font-weight: 300;
            font-size: 14px;
            margin: 0;

            &:hover {
              background: #f2f2f2;
              color: #4B4D4E;
            }

            i {
              margin-right: 0.3125em;
              vertical-align: middle;

            }

            span {
              font-weight: 300;

            }
          }

        }
      }

    }

    > div.second {

      > div.heavy {
        text-align: left;
        flex-direction: column;
        align-items: flex-end;
        display: flex;

        > span {
          font-size: 20px;
          text-align: left;

        }

        > div.dropdown {
          cursor: pointer;
          position: relative;
          text-align: left;
          flex-direction: column;

          > div {
            font-weight: 200;
            font-size: 20px;
            flex-direction: row;
            align-items: center;
            display: flex;

            span {

              > img {

                display: none;
              }

              > span {

                &:first-of-type {

                }

                &:nth-of-type(2) {
                  font-weight: 200;
                  font-size: 20px;
                  cursor: pointer;

                }

                &:last-of-type {

                }

              }
            }

            img {
              height: 12px;
              width: auto;
              margin-right: 5px;
              vertical-align: middle;
              border: 0;

            }

          }

          > ul {

            li {

              &:first-of-type {

              }

              &:last-of-type {

              }

            }
          }

        }
      }
    }


  }

}
