



div.HomeSub5.bg-white.second {

  > div.first {

    /* container mbml */
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.3125em;


    > p {

      /* em-200 medium-blue type-h5 ptvl merchant-copy */
      width: 40%;
      color: #799eb2;
      padding-top: 3em;
      font-size: 16px;
      font-weight: 200;
      margin: 0 0 10px;

    }
  }

  > div.second {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
    display: flex;

    > div.first {
      padding: 0;
      flex-direction: column;
      display: flex;
      width: 50%;

      > img {
        height: 500px;
        vertical-align: middle;
        border: 0;

      }

      > div {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #123962;

        > div.right {
          font-weight: 200;
          padding: 10px;
          width: 175px;
          margin-left: 0.625em;
          font-size: 16px;

          > span {
            color: white;
            display: block;
          }

        }

        > div.left {
          font-weight: 200;
          padding: 10px;
          justify-content: center;
          align-items: center;
          display: flex;
          font-size: 16px;

          > a {
            padding-left: 5px;
            font-weight: 400;
            color: #10ADE4;
            background: 0 0;
            text-decoration: none;

            > img {
              height: 10px;
              padding-left: 5px;
              vertical-align: middle;
              font-weight: 400;
              color: #10ADE4;
              transform: rotateZ(180deg);
            }

          }

        }

      }
    }
    > div.second {
      padding: 0;
      flex-direction: column;
      display: flex;
      width: 50%;

      > img {
        height: 500px;
        vertical-align: middle;
        border: 0;
      }

      > div {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2754ba;


        > div.right {
          font-weight: 200;
          padding: 10px;
          width: 175px;
          margin-left: 0.625em;

          > span {
            color: white;
            display: block;
          }

        }

        > div.left {
          font-weight: 200;
          padding: 10px;
          justify-content: center;
          align-items: center;
          display: flex;

          > a {
            padding-right: 5px;
            width: 200px;
            font-weight: 400;
            color: #10ADE4;
            text-decoration: none;
            background: 0 0;

            > img {
              transform: rotateZ(180deg);
              height: 10px;
              padding-left: 5px;
              vertical-align: middle;
              border: 0;
              font-weight: 400;
              color: #10ADE4;
              cursor: pointer;

            }

          }

        }

      }
    }
  }

  > div.third {

    > div {

      align-items: center;
      flex-direction: column;
      display: flex;
      text-align: center;
      padding-bottom: 3em;
      padding-top: 3em;

      > h2 {

        color: #123962;
        line-height: 1;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
        text-align: center;

      }

      > p {
        color: #799eb2;
        font-size: 18px;
        font-weight: 200;
        margin: 0 0 10px;
      }


      > a {
        outline: 0;
        margin: 0;
        border: 0;
        color: white;
        font-size: 16px;
        font-weight: 300;
        background: #00aee6;
        letter-spacing: 0.05em;
        opacity: 1 !important;
        padding: 10px 24px 10px !important;
        text-transform: uppercase;
        border-radius: 22px !important;
        text-decoration: none;
      }


      > span {
        flex-direction: row;
        display: flex;
        margin-top: 0.3125em;


        > span {

          color: #799eb2;

        }

        > a {
          text-transform: uppercase;
          color: #10ADE4;
          text-decoration: none;
          background: 0 0;
          text-align: center;

        }
      }


    }
  }

}
